<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Calango Framework</title>
    <link rel="stylesheet" href="#URL#public/css/style.css" type="text/css" media="screen" />
</head>
<body>
	<div id="art-page-background-glare-wrapper">
		<div id="art-page-background-glare"></div>
	</div>
	<div id="art-main">
		<div class="cleared reset-box"></div>
		<div class="art-box art-sheet">
			<div class="art-box-body art-sheet-body">

				<div class="art-header">
					#HEADER#
				</div>
				
				<div class="cleared reset-box"></div>
				<div class="art-layout-wrapper">
					<div class="art-content-layout">
						<div class="art-content-layout-row">
							<div class="art-layout-cell art-content">
								<div class="art-box art-post">
									<div class="art-box-body art-post-body">
										<div class="art-post-inner art-article">
										
											<div class="art-postcontent">
												#CONTENT#
											</div>
											<div class="cleared"></div>
										
										</div>
										<div class="cleared"></div>
									</div>
								</div>
								<div class="cleared"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="cleared"></div>
				
				<div class="art-footer">
					<div class="art-footer-body">
						<div class="art-footer-text">
							#FOOTER#
						</div>
						<div class="cleared"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="cleared"></div>
		<p class="art-page-footer">Designed by <a href="http://calango.sergioribeiro.com.br" target="_blank">Sergio Ribeiro</a>.</p>
		<div class="cleared"></div>
	</div>
</body>
</html>
